<div class="grid">
  <div class="tile">
    <img src="url:./assets/orange.jpg" alt="orange" />
    <div class="caption">
      <div class="profile"></div>
      <div class="text">
        <h3>
          <a href="#">Blue Orange</a>
        </h3>
        <div class="stats">
          <span>orangelover345</span>
          <span>620 views &bull; 4 weeks ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <img src="url:./assets/food.jpg" alt="food" />
    <div class="caption">
      <div class="profile"></div>
      <div class="text">
        <h3>
          <a href="#">Pancakes</a>
        </h3>
        <div class="stats">
          <span>pancakelover278</span>
          <span>925 views &bull; 1 day ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <img src="url:./assets/police.jpg" alt="police" />
    <div class="caption">
      <div class="profile"></div>
      <div class="text">
        <h3>
          <a href="#">Police mix up</a>
        </h3>
        <div class="stats">
          <span>Coppers and Geese</span>
          <span>2 views &bull; 10 weeks ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="tile">
    <img src="url:./assets/view.jpg" alt="view" />
    <div class="caption">
      <div class="profile"></div>
      <div class="text">
        <h3>
          <a href="#">Stunning View</a>
        </h3>
        <div class="stats">
          <span>sonotalie</span>
          <span>600000 views &bull; 5 weeks ago</span>
        </div>
      </div>
    </div>
  </div>
</div>
