<nav>
  <button class="menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <a class="logo" href="/">
    <h1>YouTube</h1>
    <img src="url:./assets/logo.svg" alt="YouTube">
  </a>
  <div class="search-container">
    <div class="wrapper">
      <form action="">
        <input type="text" placeholder="Search">
        <button class="search-btn">
          <img src="url:./assets/search.svg" alt="search">
        </button>
      </form>
      <button class="mic-btn">
        <img src="url:./assets/mic.svg" alt="speak">
      </button>
    </div>
  </div>
  <div class="actions">
    <button>
      <img src="url:./assets/cam.svg" alt="create">
    </button>
    <button>
      <img src="url:./assets/app.svg" alt="apps">
    </button>
    <button>
      <img src="url:./assets/bell.svg" alt="notifications">
    </button>
    <button class="avatar-btn">
      <img src="url:./assets/avatar.jpg" alt="profile">
    </button>
  </div>
</nav>