<aside>
  <div class="section">
    <button class="is-active">
      <span>
        <img src="url:./assets/home.svg" alt="Home">
      </span>
      <span>Home</span>
    </button>
    <button> 
      <span>
        <img src="url:./assets/explore.svg" alt="Explore">
      </span>
      <span>Explore</span>
    </button>
    <button>
      <span>
        <img src="url:./assets/Subscriptions.svg" alt="Subscriptions">
      </span>
      <span>Subscriptions</span>
    </button>
  </div>
  <div class="section">
    <button>
      <span>
        <img src="url:./assets/library.svg" alt="Library">
      </span>
      <span>Library</span>
    </button>
    <button> 
      <span>
        <img src="url:./assets/history.svg" alt="History">
      </span>
      <span>History</span>
    </button>
    <button>
      <span>
        <img src="url:./assets/your_videos.svg" alt="Your videos">
      </span>
      <span>Your Videos</span>
    </button>
    <button> 
      <span>
        <img src="url:./assets/watch_later.svg" alt="Watch later">
      </span>
      <span>Watch later</span>
    </button>
    <button> 
        <span>
          <img src="url:./assets/liked_videos.svg" alt="Liked Videos">
        </span>
        <span>Liked Videos</span>
    </button>
  </div>
  <div class="section">
    <h3>Subscriptions</h3>
  </div>
</aside>