<div class="tags">
  <button class="is-active">All</button>
  <button>Music</button>
  <button>Chill-out music</button>
  <button>Playlists</button>
  <button>Beats</button>
  <button>Background music</button>
  <button>Disco</button>
  <button>JavaScript</button>
  <button>K-Pop</button>
  <button>Anime</button>
  <button>Python</button>
  <button>Rick and Morty-Season 3</button>
  <button>Live</button>
  <button>Electro swing music</button>
  <button>Kygo</button>
  <button>Comedy</button>
  <button>Superheroes</button>
  <button>Calculation</button>
</div>
